/*This section syles the Header section*/
.containerMain {
    background-color: white;
    /*border: 1px solid #1f2937;*/
    /*display: flex;*/
    width: auto;

}

.headerContainer {
    background-color: #1f2937;
    border: 1px solid #1f2937;
    display: flex;
    

}

.logoMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    margin-bottom: 150px;

}

#landingMessage {
    font-size: 48px;
    color: #F9FAF8;
    margin-left: 200px;
    margin-bottom: 0px;
}

.para1 {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 200px;
    margin-top: 2px;
}

.signUpButton {
    background-color: #3882f6;
    font-size: 20px;
    width: 140px;
    border-radius: 6px;
    color: #e5e7eb;
    margin-left: 200px;
    margin-bottom: 150px;
    
}
.headLnkImgCont {
    margin-right: 30px;
}
#headerLink {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 0px;
}

.imageContext {
     width: 525px;
    height: 225px;
    border: 0px;
    background-color: beige;
    margin-top: 150px;
    margin-right: 30px;
    }
    

/*This section styles the Random Information section*/
.randomInfoContainer{
    background-color: #FFFFFF;
    /*border: 1px solid blue;
    display: flex;
    */
}

.randomInfo1 {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-right: auto;
}

.illustration {
    display: flex;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1f2937;
    flex-direction: row;
    margin-right: 220px;
    margin-left: 220px;
}

.illustrationOne,.illustrationTwo,.illustrationThree,.illustrationFour {
    
    flex-direction: column;
    margin: 0px auto;
    
    
    
}

.illusBox1,.illusBox2,.illusBox3,.illusBox4{
    border: 4px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.subtext1,.subtext2,.subtext3,.subtext4 {
    margin-bottom: 0px;
    text-align: center;
    
}

/*This styles the Inspiring Quote section*/

.inspiringQuoteContainer {
    background-color: #e5e7eb;
}

.inspiringOne {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    color: #1f2937;
    text-align:justify;
    padding-left: 230px;
    padding-top: 80px;
    

    }

    .inspiringTwo {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: black;
        font-weight: bold;
        text-align: right;
        padding-right: 230px;
        padding-bottom: 40px;


    }
    
/*This section styles the Call to Action section*/

.callToActionContainer{
    background-color: #FFFFFF;    
}

.callToActionBox {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.actionCall1 {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFFFFF;
    font-weight: bold;
    padding-left: 125px;
    margin-bottom: 0px;
    margin-top: 45px;

}

.actionCall2 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFFFFF;
    font-weight:lighter;
    padding-left: 125px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.buttonTwo {
    
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:#FFFFFF;
        font-weight: bold;
        padding-left: 125px;
        margin-bottom: 0px;
        margin-top: 45px;
    
}

.signUpButtonTwo {
    background-color: #3882f6;
    font-size: 20px;
    width: 140px;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFFFFF;
    font-weight: bold;
}

.footerContainer {
    background-color: #1f2937;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}